@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(135deg, #FF6B6B, #FF9A6B, #FFD06B, #6BFF6B, #6BFF9A, #6BFFD0);
    animation: gradientAnimation 15s ease infinite;
    background-size: 400% 400%;
  }
  
  @keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }